<section class="ftco-section ftco-no-pb ftco-no-pt search-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-wrap-1 ftco-animate p-4">
          <div class="row">
            <div class="col-lg align-items-end">
              <h3 class="text-white">Facilidad</h3>
              <p class="text-white">Facilidad en el uso del sistema. Incluye capacitación y soporte en linea los 24/7.</p>
            </div>
            <div class="col-lg align-items-end">
              <h3 class="text-white">Rapidez</h3>
              <p class="text-white">Uso de servidores de gama alta y de última generación para mejorar la velocidad.</p>
            </div>
            <div class="col-lg align-items-end">
              <h3 class="text-white">Seguridad</h3>
              <p class="text-white">La información es resguardada en lugar seguro para evitar la exposición a terceros.</p>
            </div>
            <div class="col-lg align-items-end">
              <h3 class="text-white">Rentabilidad</h3>
              <p class="text-white">Ahorro de tiempo y dinero en operaciones manuales o semimanuales.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-primary">
  <div class="container">
    <div class="row d-flex no-gutters">
      <div class="col-md-3 d-flex align-items-stretch ftco-animate">
        <div class="media block-6 services services-bg d-block text-center px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-business"></span>
          </div>
          <div class="media-body py-md-4">
            <h3>Control de Horas</h3>
            <p>Inicie y finalice el tiempo de alquiler. Realice la cobranza del tiempo utilizado y consumo de productos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-stretch ftco-animate">
        <div class="media block-6 services services-bg services-darken d-block text-center px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-home"></span></div>
          <div class="media-body py-md-4">
            <h3>Cambio entre Mesas</h3>
            <p>Cambia de mesa a otra incluyendo los tiempos utilizados y consumo de productos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-stretch ftco-animate">
        <div class="media block-6 services services-bg services-lighten d-block text-center px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-stats"></span></div>
          <div class="media-body py-md-4">
            <h3>Consumo por Mesa</h3>
            <p>Agregue consumo de productos por cada mesa. Al finalizar el tiempo se calcula automáticamente el importe a cobrar.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-stretch ftco-animate">
        <div class="media block-6 services services-bg d-block text-center px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-quarantine"></span>
          </div>
          <div class="media-body py-md-4">
            <h3>Análisis de Ganancias</h3>
            <p>Visualice en tiempo real las ganancias que estás obteniendo por tus alquileres y venta de productos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
