<section class="ftco-section ftco-no-pb ftco-no-pt search-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-wrap-1 ftco-animate p-4">
          <div class="row">
            <div class="col-lg align-items-end">
              <h4 class="text-white"><b>Control de Alquiler</b></h4>
              <p class="text-white">Control de horas de alquiler de mesas de billar, poker, mesas de consumo, etc.</p>
            </div>
            <div class="col-lg align-items-end">
              <h4 class="text-white"><b>Ventas Directas</b></h4>
              <p class="text-white">Ventas directas para los clientes que no están utilizando la mesa o pagan al
                momento.</p>
            </div>
            <div class="col-lg align-items-end">
              <h4 class="text-white"><b>Stock de Productos</b></h4>
              <p class="text-white">Control de ingreso y salida de productos por compras, ventas y otros conceptos.</p>
            </div>
            <div class="col-lg align-items-end">
              <h4 class="text-white"><b>Anális de Rentabilidad</b></h4>
              <p class="text-white">Análisis de ganancias obtenidas por alquiler y venta de productos en tiempo real.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-primary">
  <div class="container">
    <div class="row d-flex no-gutters">
      <div class="col-md-3 d-flex align-items-stretch ftco-animate">
        <div class="media block-6 services services-bg d-block text-center px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center"><span class="fa fa-window-restore"></span>
          </div>
          <div class="media-body py-md-4">
            <h3>Mesas ilimitadas</h3>
            <p>No tiene que preocuparte por la cantidad de mesas que cuenta su negocio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-stretch ftco-animate">
        <div class="media block-6 services services-bg services-darken d-block text-center px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center"><span class="fa fa-dollar"></span></div>
          <div class="media-body py-md-4">
            <h3>Configuración de precios</h3>
            <p>Configuración de precios por mesa y/o horario (mañana, tarde, noche, etc.).</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-stretch ftco-animate">
        <div class="media block-6 services services-bg services-lighten d-block text-center px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center"><span class="fa fa-laptop"></span></div>
          <div class="media-body py-md-4">
            <h3>Aplicación Web y Móvil</h3>
            <p>Acceso desde cualquier lugar, hora y dispositivo (PC, Laptop, Tablet o SmartPhone).</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-stretch ftco-animate">
        <div class="media block-6 services services-bg d-block text-center px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center"><span class="fa fa-bar-chart"></span>
          </div>
          <div class="media-body py-md-4">
            <h3>Reportes en linea</h3>
            <p>Reporte estadísticos y detallados de alquileres y ventas por dia, mes, año y rango de fechas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
