<section class="ftco-section ftco-no-pb ftco-no-pt" id="acerca-del-software">
  <div class="container">
    <div class="row">
      <div class="col-md-7 order-md-last d-flex align-items-stretch">
        <div class="img w-100 img-2 mr-md-2" style="background-image: url(../../../../../assets/images/about-4.jpg);">
        </div>
        <!-- <div class="img w-100 img-2 ml-md-2" style="background-image: url(../../../../../assets/images/about-2.jpg);"></div> -->
      </div>
      <div class="col-md-5 wrap-about py-md-5 ftco-animate">
        <div class="heading-section pr-md-5">
          <h2 class="mb-4">Acerca de BILLARSOFT</h2>

          <p><b>¿Tienes una Sala de Billar, Bar o Restaurante? </b> BILLARSOFT es un software web diseñado pensando en
            su negocio. Puedes conectarte desde la comodidad de tu casa utilizando cualquier dispositivo (PC, Laptop,
            Tablet y Smartphone) y hora.</p>
          <p>No requiere de requisitos mínimos de la computadora, laptop o smartphone. Solo necesitas internet para
            acceder. En caso su negocio no posee internet o PC, también puede utilizar instalando localmente o en un
            Celular/Smartphone.
          </p>
          <p>Los costos están orientados de acuerdo a la posibilidad y tamaño de su negocio.</p>
          <p>Soporte personalizado a las dudas y consultas las 24/7. Incluyendo asesoria y soporte remoto cuando lo
            requiera.</p>
          <p>Las actualizaciones y mejoras del sistema de acuerdo a su necesidad.</p>
          <p>
            <a href="https://www.youtube.com/playlist?list=PLRZbgFkIzQfRF-B4RMe-NAnnu0CWxWF8k"
              class="btn btn-primary py-3 px-4 btn-view-presentacion" target="_blank"><i class="fa fa-youtube-play"></i>
              Conocer más...</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-counter img bg-light" id="section-counter">
  <div class="container">
    <div class="row pt-md-5">
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-5 mb-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="1000">0</strong>
            <span>(a+) Mesas <br>Ilimitadas</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-5 mb-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="2000">0</strong>
            <span>(a+) Impresión <br>Tickets</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-5 mb-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="500">0</strong>
            <span>(a+) Usuarios<br>Permitidos</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-5 mb-4">
          <div class="text d-flex align-items-center">
            <strong class="number" data-number="50">0</strong>
            <span>(a+) Conexiones <br>Simultáneamente</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section services-section bg-darken" id="caracteristicas">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center heading-section heading-section-white ftco-animate">
        <span class="subheading">Características</span>
        <h2 class="mb-3">Principales características</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services services-2">
          <div class="media-body py-md-4 text-center">
            <div class="icon mb-1 d-flex align-items-center justify-content-center"><span>01</span>
              <img src="../../../../../assets/images/blob.svg" alt="">
            </div>
            <h3>Facilidad</h3>
            <p>Fácil de usar y no requiere conocimiento en computación. Incluye asesoría y soporte en linea los 24/7.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services services-2">
          <div class="media-body py-md-4 text-center">
            <div class="icon mb-1 d-flex align-items-center justify-content-center"><span>02</span>
              <img src="../../../../../assets/images/blob.svg" alt="">
            </div>
            <h3>Disponibilidad</h3>
            <p>Uso de servidores Cloud de gama alta y de última generación con disponibilidad de 24/7.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services services-2">
          <div class="media-body py-md-4 text-center">
            <div class="icon mb-1 d-flex align-items-center justify-content-center"><span>03</span>
              <img src="../../../../../assets/images/blob.svg" alt="">
            </div>
            <h3>Seguridad</h3>
            <p>La información es resguardada en lugar seguro para evitar la exposición a terceros.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services services-2">
          <div class="media-body py-md-4 text-center">
            <div class="icon mb-1 d-flex align-items-center justify-content-center"><span>04</span>
              <img src="../../../../../assets/images/blob.svg" alt="">
            </div>
            <h3>Rentabilidad</h3>
            <p>Ahorro de tiempo y dinero en operaciones manuales o semimanuales.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section bg-light" id="funciones">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Funciones del Software</span>
        <h2 class="mb-3">¿Qué funciones contiene?</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-4">
        <div class="text">
          <p class="mb-4"><b>En la administración de mesas tiene como funciones principales:</b></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">Iniciar el tiempo de alquiler de mesas con tiempo limitado o
              libre</li>
            <li class="list-group-item bg-transparent">Modificar la fecha y/o hora de inicio de alquiler</li>
            <li class="list-group-item bg-transparent">Agregar consumo de productos a cada mesa</li>
            <li class="list-group-item bg-transparent">Finalizar la hora de alquiler y realizar la cobranza</li>
            <li class="list-group-item bg-transparent">Transferir o cambiar de mesa a otra incluyendo consumo de
              productos</li>
            <li class="list-group-item bg-transparent">Agregar comentarios o recordatorios</li>
            <li class="list-group-item bg-transparent">Anular la mesa y/o hora iniciada por alquiler</li>
            <li class="list-group-item bg-transparent">Imprimir tickets en diferentes medidas</li>
            <li class="list-group-item bg-transparent">Cambiar de vista en cuadrícula o, en forma de lista</li>
            <li class="list-group-item bg-transparent">Extender el tiempo de alquiler si se ha iniciado con tiempo
              limitado</li>
            <li class="list-group-item bg-transparent">Configurar precio de alquiler por mesa o según el horario</li>
          </ul>
          <p></p>

        </div>
      </div>

      <div class="col-md-4">
        <div class="text">
          <p class="mb-4"><b>Adicionalmente al alquiler de mesas puede realizar estas operaciones:</b></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">Controlar el inventario o stock de productos</li>
            <li class="list-group-item bg-transparent">Ingresar la compra de productos</li>
            <li class="list-group-item bg-transparent">Realizar la venta de productos (ventas directas)</li>
            <li class="list-group-item bg-transparent">Consultar el movimiento de productos</li>
          </ul>

          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">Ingresar dinero a caja (aportes, saldo inicial, etc.)</li>
            <li class="list-group-item bg-transparent">Retirar dinero de caja (pago de servicio, personal, etc.)</li>
            <li class="list-group-item bg-transparent">Ver reporte de movimientos de dinero en caja</li>
            <li class="list-group-item bg-transparent">Ver eporte de alquileres y ventas por día, mes, año o rango de
              fechas</li>
            <li class="list-group-item bg-transparent">Ver gráficos estadísticos del rendimiento de ganancias. Donde
              puede ver, el dinero ingresado, retirado y saldo</li>
            <li class="list-group-item bg-transparent">Ver resumen de alquileres y ventas por dia y meses del año</li>
            <li class="list-group-item bg-transparent">Ver resumen de ganancias por cada mesa</li>
            <li class="list-group-item bg-transparent">Ver resumen de ventas por tipo de producto</li>
          </ul>
          <p></p>

        </div>
      </div>

      <div class="col-md-4">
        <div class="text">
          <p class="mb-4"><b>En configuraciones puede personalizar lo siguiente:</b></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">Crear y configurar clientes o socios del negocio</li>
            <li class="list-group-item bg-transparent">Crear y configurar mesas; billar, pool, poker, consumo, etc.</li>
            <li class="list-group-item bg-transparent">Clasificar las mesas con íconos para identificar facilmente</li>
            <li class="list-group-item bg-transparent">Crear catálogo de productos con sus respectivos precios</li>
            <li class="list-group-item bg-transparent">Configurar el nivel de acceso a los usuarios del sistema;
              Conceder y/o restringir acceso a ciertas funciones</li>
          </ul>
          <p></p>

        </div>
      </div>

    </div>
    <div class="row justify-content-center pt-5 ftco-animate">
      <div class="col-md-8 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <p>Si desea conocer más sobre el Software, póngase en contacto con nosotros y le brindamos una demostración
          totalmente <span class="text-primary">GRATIS!</span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section" id="planes">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Planes & Precios</span>
        <h2 class="mb-3">Planes & Precios Disponibles</h2>
        <p>Los tres planes ofrecen todas las funcionalidades y características. La variación radica en la cantidad de
          locales, mesas y usuarios.</p>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-white border-0">&nbsp;</div>
          <div class="card-body">
            <div class="card-header bg-white">
              <h5 class="card-title text-center">BÁSICO</h5>
              <p class="card-text text-center" style="text-decoration: line-through;">US$ 25 pago mensual</p>
              <h4 class="text-center">US$ 15 / MES</h4>
              <p class="text-center">-15% al efectuar el pago de forma anual</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-transparent">Control de varios locales/sedes <span
                  class="badge badge-light pull-right"><small>Máximo</small> 1</span></li>
              <li class="list-group-item bg-transparent">Registro de mesas <span
                  class="badge badge-light pull-right"><small>Máximo</small> 15</span></li>
              <li class="list-group-item bg-transparent">Catálogo de productos <span
                  class="badge badge-light pull-right"><small>Máximo</small> 30</span></li>
              <li class="list-group-item bg-transparent">Cantidad de usuarios <span
                  class="badge badge-light pull-right"><small>Máximo</small> 3</span></li>
              <li class="list-group-item bg-transparent">Control de Stock de productos <i
                  class="fa fa-check pull-right text-success"></i></li>
              <li class="list-group-item bg-transparent">Incluye Aplicación Móvil <i
                  class="fa fa-check pull-right text-success"></i></li>
              <!-- <li class="list-group-item bg-transparent">Incluye Aplicación Móvil <i
                  class="fa fa-times pull-right text-danger"></i></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-primary text-white text-center">MÁS POPULAR</div>
          <div class="card-body">
            <div class="card-header bg-white">
              <h5 class="card-title text-center">ESTANDAR</h5>
              <p class="card-text text-center" style="text-decoration: line-through;">US$ 30 pago mensual</p>
              <h4 class="text-center">US$ 20 / MES</h4>
              <p class="text-center">-15% al efectuar el pago de forma anual</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-transparent">Control de varios locales/sedes <span
                  class="badge badge-light pull-right"><small>Máximo</small> 2</span></li>
              <li class="list-group-item bg-transparent">Registro de mesas <span
                  class="badge badge-light pull-right"><small>Máximo</small> 50 <sup>x local</sup></span></li>
              <li class="list-group-item bg-transparent">Catálogo de productos <span
                  class="badge badge-light pull-right"><small>Máximo</small> 100 <sup>x local</sup></span></li>
              <li class="list-group-item bg-transparent">Cantidad de usuarios <span
                  class="badge badge-light pull-right"><small>Máximo</small> 5</span></li>
              <li class="list-group-item bg-transparent">Control de Stock de productos <i
                  class="fa fa-check pull-right text-success"></i></li>
              <li class="list-group-item bg-transparent">Incluye Aplicación Móvil <i
                  class="fa fa-check pull-right text-success"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-white border-0">&nbsp;</div>
          <div class="card-body">
            <div class="card-header bg-white">
              <h5 class="card-title text-center">PREMIUM</h5>
              <p class="card-text text-center" style="text-decoration: line-through;">US$ 45 pago mensual</p>
              <h4 class="text-center">US$ 35 / MES</h4>
              <p class="text-center">-15% al efectuar el pago de forma anual</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-transparent">Control de varios locales/sedes <span
                  class="badge badge-light pull-right"><small>Máximo</small> 5</span></li>
              <li class="list-group-item bg-transparent">Registro de mesas <span
                  class="badge badge-light pull-right">Ilimitado</span></li>
              <li class="list-group-item bg-transparent">Catálogo de productos <span
                  class="badge badge-light pull-right">Ilimitado</span></li>
              <li class="list-group-item bg-transparent">Cantidad de usuarios <span
                  class="badge badge-light pull-right">Ilimitado</span></li>
              <li class="list-group-item bg-transparent">Control de Stock de productos <i
                  class="fa fa-check pull-right text-success"></i></li>
              <li class="list-group-item bg-transparent">Incluye Aplicación Móvil <i
                  class="fa fa-check pull-right text-success"></i></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="row justify-content-center pt-5 ftco-animate">
      <div class="col-md-8 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <p>Si es que no encuentra un plan que se ajusta a su necesidad, póngase en contacto con nosotros. Disponemos de
          otros <span class="text-primary">planes y precios</span> personalizados de acuerdo a tu necesidad</p>
      </div>
    </div>
  </div>
</section>

<section class="contact-section bg-light" id="contactos">
  <div class="container">
    <div class="row d-flex contact-info justify-content-center">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 text-center py-4">
            <div class="icon">
              <span class="fa fa-paper-plane"></span>
            </div>
            <p><span>Email:</span> <a href="mailto:devnet.ph.mkt@gmail.com">devnet.ph.mkt&#64;gmail.com</a></p>
          </div>
          <div class="col-md-4 text-center py-4 border-height">
            <p>Para más información, síguenos en nuestras <span>Redes sociales</span></p>
            <ul class="ftco-footer-social list-unstyled mt-4">
              <li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.facebook.com/billarsoft"
                  target="_blank" class="btn-go-to-facebook"><span class="fa fa-facebook"
                    style="font-size: 30px;"></span></a></li>
              <li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.facebook.com/billarsoft"
                  target="_blank" class="btn-go-to-instagram"><span class="fa fa-instagram"
                    style="font-size: 30px;"></span></a></li>
              <li class="ftco-animate fadeInUp ftco-animated"><a
                  href="https://www.youtube.com/playlist?list=PLRZbgFkIzQfRF-B4RMe-NAnnu0CWxWF8k" target="_blank"
                  class="btn-view-presentacion"><span class="fa fa-youtube-play" style="font-size: 30px;"></span></a>
              </li>
            </ul>
          </div>

          <div class="col-md-4 text-center py-4">
            <div class="icon">
              <span class="fa fa-phone"></span>
            </div>
            <p><span>Celular:</span> (+51) 954 138 326</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
