<section class="hero-wrap" style="background-image: url('assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center">
      <div class="col-lg-7 col-md-6 ftco-animate d-flex align-items-end">
        <div class="text">
          <h1 class="mb-4">Innove ahora! <br>Software para Billares</h1>
          <p style="font-size: 18px;">Administre tu sala de billar de forma fácil, rápida y segura. Controle el alquiler
            de tus mesas de billar, pool, carambola, poker, consumo y venta de productos.</p>
          <p>
              <a href="{{urlVideoTutorials}}"
              class="btn btn-primary py-3 px-4 btn-view-demo ml-2" target="_blank"><i class="fa fa-lg fa-youtube-play"></i>
              Ver cómo funciona...</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
